.label {
    font-size: 1rem;
    color: gray;
}

.appointments {
    width: 94vw;
    margin: 1vw 3vw;
}

.account {
    background-color: #f9eed1;
    height: 100%;
}

.info {
    width: 30%;
}

.button {
    width: 100%;
}

.empty{
    text-align: center;
    font-size: 2rem;
}

.alert{
    background-color: #d5a353;
}