.header {
    background-color: #d5a353;
    height: 10vh;
    justify-content: center;
}

.nav-item.nav-link {
    height: 5vh;
    font-size: 1.8rem;
    color: black;
    display: flex;
    vertical-align: top;
}

.hey {
    font-size: 1.5rem;
}

.username {
    color: #cc9933;
}

.logout {
    position: absolute;
    right: 30px;
}

.mustache {
    position: absolute;
    left: 30px;
    top:-15px;
}