.header {
    background-color: #d5a353;
    height: 10vh;
    justify-content: center;
}

.nav-item.nav-link {
    font-size: 1.8rem;
    color: black;
    display: flex;
    border: none;
    outline: none;
    position: relative;
    top: 0.2em;
}

.hey {
    font-size: 1.5rem;
}

.username {
    color: #cc9933;
}

.logout {
    float: right;
}

.mustache {
    float: left;
    padding: 0 !important;
    margin: -15px 5px;
}

.nav-item.nav-link.current-page {
    font-weight: bold;
    color: #f9eed1;
}